<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Why Bot - About</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <div>
              <!-- Website Logo -->
              <a href="/" class="flex items-center py-4 px-2">
                <img
                  src="https://cdn.discordapp.com/avatars/896932646846885898/40600e222073eacf80776d99923fa238.png?size=2048"
                  alt="Logo"
                  class="h-8 w-8 mr-2"
                />
                <span class="font-semibold text-[#262626] text-lg"
                  >Why Bot</span
                >
              </a>
            </div>
            <!-- Primary Navbar items -->
            <div class="hidden md:flex items-center space-x-1">
              <a
                href="/"
                class="py-4 px-2 text-[#262626] font-semibold hover:text-red-500 transition duration-300"
                >Home</a
              >
              <a
                href="/commands"
                class="py-4 px-2 text-[#262626] font-semibold hover:text-red-500 transition duration-300"
                >Commands</a
              >
              <a
                href="/about"
                class="py-4 px-2 text-red-500 border-b-2 border-red-500 font-semibold"
                >About</a
              >
              <a
                href="/help"
                class="py-4 px-2 text-[#262626] font-semibold hover:text-red-500 transition duration-300"
                >Help</a
              >
            </div>
          </div>
          <!-- Secondary Navbar items -->
		{% if not user %}
			<div class="hidden md:flex items-center space-x-2">
				<a href="/login"class="py-2 px-2 font-medium text-[#262626] rounded hover:bg-red-500 hover:text-white transition duration-300">Log In</a>
			</div>
		{% else %}
			<div class="hidden md:flex items-center space-x-2">
				<a href="/account" class="py-2 px-2 font-medium text-[#262626] rounded hover:bg-red-500 hover:text-white transition duration-300">Account</a>
			</div>
		{% endif %}
    </nav>
    <h1 class="text-red-500 text-center text-2xl md:text-3xl lg:text-4xl font-bold p-4">
      Why Bot
    </h1>
  </body>
</html>
